<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Hello World!</title>
		
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="/static/layoutTemplate.js?v=1"></script>
	</head>
	<body>
		<div style="width:100%;">
			<div style="float:left; width:17%; height:800px; background-color:#76d276;">
				<p>Menu</p>
			</div>
			<div style="float:left; width:83%; height:800px; background-color:#7686d2;">
				<p>Content</p>
				<div style="margin:10px; width:95%; height:700px; background-color:#ffffff;" id="contentsArea"></div>
			</div> 
		</div>
		
		<div id="layoutTemplate">
			<div style="width:96%; height:500px; display:none;" id='layoutStyle1'>
				<div style="margin: 5px; border: solid 1px black; width: 100%; height:100%" id="section1"></div>
			</div>
			
			<div style="width:100%; height:500px; display:none;" id='layoutStyle2'>
				<div style="float:left; margin: 5px; border: solid 1px black; width: 48%; height:100%" id="section1"></div>
				<div style="float:left; margin: 5px; border: solid 1px black; width: 48%; height:100%" id="section2"></div>
			</div>
		</div>
		
		<script>
			var temp = new LayoutTemplate();
			temp.setTargetId('contentsArea');
			temp.setLayoutArray(['layoutStyle1', 'layoutStyle2']);
			temp.setContentArray([{
				title: 'naver',
				data: {url: 'https://naver.com', callFunction: 'n'}
			},
			{
				title: 'daum',
				data: {url: 'http://daum.net', callFunction: '2'}
			},
			{
				title: 'google',
				data: {url: 'https://google.com', callFunction: 'w'}
			},
			{
				title: 'ncsoft',
				data: {url: 'http://ncsoft.com/', callFunction: '#'}
			}]);
			
			temp.draw();
		</script>
	</body>
</html>